# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# Django
*.sqlite3
db.sqlite3
staticfiles/

# Env files
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
