@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  --azul-petroleo: #005F7A;
  --azul-ciano: #0090C1;
  --branco-gelo: #FAFAFA;
  --vermelho-off: #FF4D4D;
  --azul-muito-claro: #e0f2f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color:  var(--azul-muito-claro) !important;
  margin: 0;
}

.main-header {
  background-color: var(--azul-petroleo) !important;
  padding: 15px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.user-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 12px 20px;
  width: 450px;
  border-radius: 25px;
  border: 2px solid #ddd;
  background-color: white;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 15px;
  color: var(--azul-petroleo);
}

.cart-btn {
  background-color: var(--azul-ciano) !important;
  color: white !important;
  border-radius: 25px !important;
  border: none;
  padding: 10px 20px !important;
  font-weight: 700;
  display: flex;
  align-items: center !important;
  cursor: pointer;
  transition: 0.3s;
  display: flex !important;
  gap: 8px !important;
}

.cart-btn:hover{
  background-color: #00bfff !important;
}

.logo-img {
  height: 50px;
  width: auto;
  display: block;
  max-width: 200px;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  color: white;
  line-height: 1.2;
}

.logo-text strong {
  font-size: 1.4rem;
  letter-spacing: -0.5px;
}

.logo-text span {
  font-size: 0.7rem;
  font-weight: 400;
  opacity: 0.9;
}

.location-bar {
  background-color: #0090C1;
  color: white;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  min-height: 50px;
  height: 50px;
}

.category-menu {
  display: flex;
  align-items: stretch;
  gap: 30px;
}

.category-menu a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  transition: all 0.2s ease;
}

.category-menu a:hover {
  opacity: 1;
  background-color: rgba(225, 225, 225, 0.1);
  transform: translateY(-1px);
}

.category-menu a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #00b4ed;
  transition: width 0.3 ease;
  display: none;
}

.category-menu a:hover::after {
  width: 100%;
}

.delivery-info {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
}

.delivery-info span {
  white-space: nowrap;
}

.delivery-info strong {
  background: white;
  color: #999;
  padding: 5px 15px;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 0.85rem;
  cursor: pointer;
}

.content-wrapper {
  background-color: white;
  margin: 20px 2%;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.login-btn {
  background: transparent !important;
  border: 1px solid rgba(225, 225, 225, 0.3);
  color: white;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background-color: rgba(225, 225, 225, 0.1);
  border-color: white;
  transform: scale(1.05);
}

.language-selector {
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 5px 10px;
  user-select: none;
}

.language-selector svg {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.selected-lang {
  display: flex;
  align-items: center;
  gap: 6px;
  color: white;
}

.rotate{
  transform: rotate(180deg) !important;
  transition: 0.3s;
}

.flag {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 25px;
  font-size: 1.2rem;
  text-align: center;
}

.lang-dropdown {
  position: absolute;
  top: calc(100% + 10%);
  right: 0;
  background-color: white;
  color: #333;
  list-style: none;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  min-width: 150px;
  padding: 8px 0;
  z-index: 9999;
}

.lang-dropdown li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 16px;
  color: #333;
  font-size: 0.9rem;
  transition: background 0.2s;
  width: 100%;
  z-index: 9999;
}

.lang-dropdown li:hover {
  background-color: var(--azul-muito-claro);
}

.main-banner {
    width: 100%;
    padding: 40px 0 80px 0;
    overflow: hidden; 
    position: relative;
}

.mySwiper {
    width: 100%;
    overflow: visible !important; 
}

.swiper-slide {
    opacity: 0.3;
    transform: scale(0.85);
    transition: all 0.5s ease;
    z-index: 1;
}

.swiper-slide-active {
    opacity: 1;
    transform: scale(1);
    z-index: 10 !important;
}

.banner-item {
    height: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.swiper-pagination {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 8px;
    left: 0 !important;
    width: 100% !important;
}